body {
    background-image: url(../images/background-azulejo.jpg);
    position: relative;
    }
    #main-div {
        width:1450px;
        position: relative;
        overflow:auto;
        height:auto;
    }
    #secondary-div {
        overflow:auto;
    }
    #secondary-div-home {
        overflow:auto;
    }
    .dropdown a {
        background-color: rgba(255, 255, 255, 0.8);
        color:rgb(112, 4, 4);
        font-size: 160%;
        margin-right: 80px;
        border-style: double;
        border-color: #db1010;
    }
    .drop-button {
        background-color: rgba(255, 255, 255, 0.8);
        color:rgb(112, 4, 4);
        padding: 8px;
        border: none;
        cursor: pointer;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-list {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        z-index: 1;   
    }
    .dropdown-list a {
        color:rgb(112, 4, 4);
        padding: 12px 16px;
        margin: auto;
        text-decoration: none;
        display: block;
        font-size: 120%;
    }
    .dropdown-list a:hover {
        background-color: #db1010;
    }
    .dropdown:hover .dropdown-list {
        display: block;
    }
    .dropdown:hover .drop-button {
        background-color: #d0d6d0;
    }
    .dropdown:hover .drop-button a {
        display: inline-block;
    }
    .header {
        background-color: white;
        display: inline-block;
        color:rgb(112, 4, 4);
        font-size: 180%;
        border-style: double;
        border-color: #db1010;
        margin-left: 40px;
        text-align: center;
    }
    .logo {
        vertical-align:middle;
        margin-right: 80px;
        border-style: double;
        border-color: #db1010;
        height:160px;
    }
    .intro-secret {
        padding: 10px;
        margin-left: 20px;
        margin-right: 323px;
        font-size: 120%;
        color:rgb(112, 4, 4);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -25%);
        position: relative;
        left: 55%;
    }
    .intro-team {
        padding: 10px;
        margin-left: 20px;
        margin-right: 323px;
        font-size: 120%;
        color:rgb(112, 4, 4);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -19%);
        position: relative;
        left: 55%;
    }
    .intro-vision {
        padding: 10px;
        margin-left: 20px;
        margin-right: 323px;
        font-size: 120%;
        color:rgb(112, 4, 4);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -11.5%);
        position: relative;
        left: 55%;
    }    
    .intro-fado {
        padding: 10px;
        margin-left: 20px;
        margin-right: 323px;
        font-size: 120%;
        color:rgb(112, 4, 4);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -41.5%);
        position: relative;
        left: 55%;
    }
    .intro-gastronomy {
        padding: 10px;
        margin-left: 20px;
        margin-right: 323px;
        font-size: 120%;
        color:rgb(112, 4, 4);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -11.5%);
        position: relative;
        left: 55%;
    }
    .intro-beach {
        padding: 10px;
        margin-left: 20px;
        margin-right: 323px;
        font-size: 120%;
        color:rgb(112, 4, 4);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -21%);
        position: relative;
        left: 55%;
    }
    .intro-bar {
        padding: 10px;
        margin-left: 20px;
        margin-right: 323px;
        font-size: 120%;
        color:rgb(112, 4, 4);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -21%);
        position: relative;
        left: 55%;
    }
    .intro-comment {
        padding: 10px;
        margin-left: 20px;
        margin-right: 323px;
        font-size: 120%;
        color:rgb(112, 4, 4);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -32%);
        position: relative;
        left: 55%;
    }
    .intro-partners {
        padding: 10px;
        margin-left: 20px;
        margin-right: 323px;
        font-size: 120%;
        color:rgb(47, 32, 32);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -52.5%);
        position: relative;
        left: 55%;
    }
    .intro-find {
        padding: 50px;
        margin-left: 20px;
        margin-right: 960px;
        font-size: 120%;
        color:rgb(47, 32, 32);
        background-color: rgba(255, 255, 255, 0.8);
        border-style: double;
        border-color: #db1010;
        transform: translate(-51%, -50.5%);
        position: relative;
        left: 40%;
    }
    .img-team {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }
    .form-activity {
        color:rgb(112, 4, 4);
        display: grid;
        place-items: center;
    }
    .form-css {
        display: inline-block;
        color:rgb(112, 4, 4);
    }
    form {
        width: 50%;
        border-style: double;
        border-color: #db1010;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
      }
    #img-home img {
        float:left;
        width :35%;
        height:280px;
    }
    #footer {
        text-align: center;
        color: rgb(175, 30, 30);
        font: 20px helvetica;
        width: 100%;
        clear: both;
        display: inline-block;
        background: white;
    }
