body {
background-image: url(../images/background-azulejo.jpg);
}
.main_div {
    width:1560px;
    margin: auto;
}
h1 {
color:rgb(112, 4, 4);
font-size: 240%;
}
.nav_top a {
background-color: rgba(255, 255, 255, 0.8);
color:rgb(112, 4, 4);
font-size: 220%;
margin-right: 80px;
}
.header {
margin-top: 80px;
display: inline-block;
background-color: rgba(255, 255, 255, 0.8);
}
#logo {
vertical-align: middle;
}
.intro_p{
font-size: 140%;
color:rgb(112, 4, 4);
display: inline-block;
background-color: rgba(255, 255, 255, 0.8);
}